[submodule "keyboard-typing-practice"]
	path = keyboard-typing-practice
	url = https://github.com/imkk000/web-keyboard-typing-practice.git
[submodule "typingfast"]
	path = typingfast
	url = https://github.com/ndaidong/typingfast.git
